[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
lightgbm = "*"
xgboost = "*"
flit = "*"
category-encoders = ">=2.0.0"
matplotlib-venn = "*"

[dev-packages]

[requires]
python_version = "3.7"
